---
---

@import "bootstrap_variables";

.content-center {
	@extend .col-12, .col-md-10, .offset-md-1, .col-lg-8, .offset-lg-2;
}

.lead-content p {
	@extend .lead;
}

.block-button-wrapper {
	@extend .col-12, .col-md-8, .offset-md-2, .col-lg-6, .offset-lg-3, .col-xl-4, .offset-xl-6,
	 .mx-auto, .my-auto, .text-center;

	.btn {
		@extend .btn-lg, .w-100, .mt-3, .shadow;
	}
}

.event-card {
	min-height: 20rem;
	text-decoration: none;
	color: inherit;
	border-radius: 0.8em !important;
	overflow: hidden;
	.card-content {
		@extend .h-100, .d-flex, .flex-column;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		.card-body {
			@extend .text-light;
			transition: all;
			transition-duration: 200ms;
		  	background-color: #00000060;
		}
		.card-footer {
			margin-top: auto;
		}
	}
	&:hover, &:focus-within {
		.card-body {
			background-color: #00000045;
		}
		text-decoration: none;
		color: inherit;
	}
}

.hero-image {
	min-height: 20rem;
	overflow:hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@extend .shadow;
}

.category-label {
	@extend .small, .fw-bold, .text-uppercase, .mb-0, .text-center;
	letter-spacing: 3px; 
}

.event-page-meta {
	@extend .px-3, .mb-4;
	@media only screen and (max-width: 991px) {
		border-left: 5px solid;
	}
	@media only screen and (min-width: 992px) {
		border-right: 5px solid;
	}
}

// Category colours (below because we can't do Liquid in _colours.scss)
$sightlines-event-categories: (
	{% for category in site.data.event-categories %}
	"{{ category.title | slugify }}": {{ category.color }},
	{% endfor %}
);
@import "colours";

.bg-sightlines-white .content-center a {
	@extend .link-dark;
}

.nav-link {
	&:hover {
		background-color: darken(map-get($sightlines-brand, "yellow"), 7.5%) !important;
	}
	&.active {
		background-color: darken(map-get($sightlines-brand, "yellow"), 10%) !important;
		font-weight: 500;
	}
}


/*!
 // Comment out the ones you're not using to save on render size and time 
 */

/*!
 * Bootstrap v5.0.0 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */

// scss-docs-start import-stack
// Configuration
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/utilities";

// Layout & components
@import "bootstrap/root";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/containers";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/accordion";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
@import "bootstrap/alert";
@import "bootstrap/progress";
@import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/toasts";
@import "bootstrap/modal";
@import "bootstrap/tooltip";
@import "bootstrap/popover";
@import "bootstrap/carousel";
@import "bootstrap/spinners";
@import "bootstrap/offcanvas";

// Helpers
@import "bootstrap/helpers";

// Utilities
@import "bootstrap/utilities/api";
// scss-docs-end import-stack
