<div class="row py-5 stripe-transparent-white"></div>
<div class="row py-5 bg-sightlines-white text-center">
	<h1>{{ include.title | default: "Partners" }}</h1>

	<p class="lead">This festival was made possible with the support of {% include partner-list-text.html %}</p>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 bg-sightlines-white pb-5">
	{% for partner in site.data.partners %}
		<div class="col m-auto">
			<a href="{{ partner.website }}" target="_blank">
				{% if partner.image %}
					<img class="partner-image" src="{{ partner.image | prepend: site.baseurl }}" {% if partner.height %}style="min-height:{{ partner.height }}"{% endif %} alt="{{ partner.name }}">
				{% else %}
					<p class="lead text-center"><strong>{{ partner.name }}</strong></p>
				{% endif %}
			</a>
		</div>
	{% endfor %}
</div>
<div class="row py-5 stripe-white-purple"></div>