Funded with support from {% include partner-list-text.html %}
{% assign footer_partners = site.data.partners | where_exp: "partner", "partner.footer" %}
{% if footer_partners and footer_partners != empty %}
	{% for partner in footer_partners%}
		<div class="row">
			{% if partner.footer %}
				<div class="col-6 mx-auto">
					<p><a href="{{ partner.website }}" target="_blank"><img src="{{ partner.footer_image | default: partner.image | prepend: site.baseurl }}" alt="{{ partner.name }}" {% if partner.height and partner.height != empty %}height="{{ partner.height }}"{% else %}class="w-50"{% endif %}></a></p>
				</div>
			{% endif %}
		</div>
	{% endfor %}
{% endif %}