{% if site.facebook_username and site.facebook_username != empty %}
	<a href="https://facebook.com/{{ site.facebook_username }}"><i class="fab fa-facebook fa-fw fa-2x"></i></a>&nbsp;
{% endif %}
{% if site.twitter_username and site.twitter_username != empty %}
	<a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter fa-fw fa-2x"></i></a>&nbsp;
{% endif %}
{% if site.instagram_username and site.instagram_username != empty %}
	<a href="https://instagram.com/{{ site.instagram_username }}"><i class="fab fa-instagram fa-fw fa-2x"></i></a>&nbsp;
{% endif %}