$sightlines-brand: (
	"yellow": #FFEB86,
	"kobi": #BC89E1,
	"purple": #5E49A7,
	"aquamarine": #93D0BF,
	"white": white,
	"transparent": transparent,
);

$primary: darken(map-get($sightlines-brand, "yellow"), 20%);
$secondary: map-get($sightlines-brand, "navy");

@each $name, $color in $sightlines-brand {
  .text-sightlines-#{$name} {
    color: $color; 
    &:hover, &:focus, &:active {
    	color: lighten($color, 15%);
    }
  }
  .bg-sightlines-#{$name} {
    background-color: $color !important;
  }
  .border-sightlines-#{$name} {
    border-color: $color !important;
  }
  .btn-sightlines-#{$name} {
    border-color: $color !important;
    background-color: $color;
  }

  @each $nextname, $nextcolor in $sightlines-brand {
  	.stripe-#{$name}-#{$nextname} {
  		background: linear-gradient(178deg, $color 0%, $color 49%, $nextcolor 50%);
  	}
  }
}

@each $name, $color in $sightlines-event-categories {
  .text-event-category-#{$name} {
    color: $color; 
    &:hover, &:focus, &:active {
    	color: lighten($color, 15%);
    }
  }
  .bg-event-category-#{$name} {
    background-color: $color !important;
  }
  .border-event-category-#{$name} {
    border-color: $color !important;
  }
  .btn-event-category-#{$name} {
    border-color: $color !important;
    background-color: $color;
  }
}