{% for article in include.articles %}
<div class="col mb-4 px-4 pt-4 mx-auto" id="article-{{ article.title | slugify }}">
	<div class="card shadow-sm mb-2 mb-md-0 h-100">
		<div class="card-body">
			<h4><a href="{{ article.url | prepend:site.baseurl }}" class="subtle-link text-dark">{{ article.title }}</a>
				<br><small class="fw-light fs-6"><i class="fa fa-calendar"></i>&nbsp;{{ article.date | date: "%d %b" }}</small>
			</h4>
			{% if page.layout == 'home' %}{% assign excerpt_chars = 200 %}{% else %}{% assign excerpt_chars = 400 %}{% endif %}
			<p class="fw-light mt-2">{{ article.excerpt | truncate: excerpt_chars | markdownify }}</p>
			<a class="btn btn-secondary btn-lg w-100" href="{{ article.url | prepend:site.baseurl }}">Read more...</a>
		</div>
	</div>
</div>
{% endfor %}