---
layout: default
---

<h1 class="mb-4 header-font">{{ page.title }}</h1>
<h2 class="fs-4 mb-4">
	{% if page.author and page.author != empty %}
		{% assign team = site.data.team %}
		{% assign team_match = team | find: "name", page.author %}
		<span class="my-2 d-block fw-normal">
			{% if team_match and team_match != empty %}
				{% if team_match.image and team_match.image != empty %}
					<img class="rounded-circle" src="{{ team_match.image | prepend: site.baseurl }}" alt="{{ page.author }} photo" width="45px" height="auto">
				{% else %}
					<i class="fa fa-user" aria-hidden="true"></i>&nbsp;
				{% endif %}
			{% else %}
				<i class="fa fa-user" aria-hidden="true"></i>&nbsp;
			{% endif %}
			{{ page.author }}
		</span>
	{% endif %}
	{% if page.publish_date and page.publish_date != empty %}
		<div class="fw-light pt-2">
			<i class="fa fa-calendar fa-lg mx-2" aria-hidden="true"></i>&nbsp;{{ page.publish_date | date: "%d %b %Y" }}
		</div>
	{% endif %}
</h2>

{% if page.excerpt and page.excerpt != empty %}
	<div class="article-excerpt">
		<blockquote>{{ page.excerpt }}</blockquote>
	</div>
{% endif %}

<div class="squiggle-container d-block" style="width: 100%;height:20px;">
	<div class="hr-squiggle"></div>
</div>

<div class="article-content">
	{{ content | markdownify }}
</div>

<div class="squiggle-container d-block my-5" style="width: 100%;height:20px;">
	<div class="hr-squiggle"></div>
</div>

{% assign other_articles = site.articles | where_exp: "article", "article.url!=page.url" %}
{% if other_articles.size > 0 %}
<h1 class="mt-4">Other Articles</h1>

<div class="row row-cols-1 row-cols-md-2 {% if other_articles.size > 1 %}row-cols-xl-3{% endif %}">
{% include articles/article-card.html articles=other_articles alignment='left' %}
</div>
{% endif %}