---
layout: default
---

<h1 class="text-center">Articles</h1>

{{ content | markdownify }}

<div class="row row-cols-1 row-cols-md-2">
{% assign articles = site.articles %}
{% include articles/article-card.html articles=articles %}
</div>

<hr class="my-5">
<h2 class="text-center">Submit your content</h2>

<p class="text-center">You can submit your articles by contacting us on <a href="mailto:articles@sightlinesfestival.co.uk" class="link-secondary fw-bold">articles@sightlinesfestival.co.uk</a></p>