---
layout: outer
background_color: kobi
---

{% assign event = page %}

<div class="container-fluid p-0">
	<div class="row">
		<div class="col-12 p-0">
			<div class="hero-image" style="background-image:url({{ page.image | prepend: site.baseurl }});background-position:{{ page.image-position | default: top }};"></div>
		</div>
	</div>
	<div class="row py-4 px-4 px-lg-0">
		<div class="content-center content-center-offset">
			<div class="row mb-4">
				<div class="col-12 col-sm-6 col-md-7 col-lg-6 col-xl-8">
					<h1>
						{{ event.title }}<br><small class='fw-light'>{{ event.event_date | date: "%d %b" }} {% if event.start_time and event.start_time != empty %}{{ event.start_time }}{% if event.end_time and event.end_time != empty %}-{{ event.end_time }}{% endif %}{% endif %}</small>
					</h1>
					{% if event.company and event.company != empty %}
						<h2 class="fs-4 fw-light">
							Presented by {{ event.company }}
							{% if event.subtitle and event.subtitle != empty %}
								<br><small class="mt-2 d-inline-block"><em>{{ event.subtitle }}</em></small></h2>
							{% endif %}
						</h2>
					{% endif %}
					{% comment %}
						{% if event.capacity and event.capacity != empty %}
							<p class="lead fw-light"><i class="fa fa-users"></i>&nbsp;Capacity: {{ event.capacity }}</p>
						{% endif %}
					{% endcomment %}
				</div>
				<div class="col-sm-6 col-md-5 col-lg-4 offset-lg-2 offset-xl-0">
					<div class="my-2 event-page-meta border-event-category-{{ event.category | slugify }}">
						<p class="text-start text-sm-center"><strong>{{ event.category | upcase }}</strong></p>
						{% include events/event-meta.html event=event %}
						<p class="text-sm-center small fw-light"><a href="{{ '/access/' | prepend: site.baseurl }}" class="link-dark text-decoration-none">Access Information <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
						{% if event.content_warnings and event.content_warnings != empty %}
							<div class='text-center text-md-start'>{{ event.content_warnings | markdownify }}</div>
						{% endif %}
					</div>
				</div>
			</div>
			
			<div class="event-copy">
				{{ content | markdownify }}
				{% if event.image_attribution and event.image_attribution != empty %}
					<p class="text-end small"><em>{{ event.image_attribution }}</em></p>
				{% endif %}
			</div>

			{% include events/book.html event=event %}
		</div>
	</div>
	{% include events/get-available-events.html %}
	{% assign events = events | sort: "event_date" | where_exp: "others", "others.title != event.title" | slice: 0, 4 %}
	{% if events.size > 0 %}
	<div class="related-events">
		<div class="row py-2">
			<div class="col-12 text-center">
				<div class="squiggle-container d-block my-4 mx-auto" style="width: 70%;height:20px;">
					<div class="hr-squiggle"></div>
				</div>

				<h2>Related Events</h2>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
			{% include events/event-card.html events=events %}
		</div>
		<div class="row">
			<div class="block-button-wrapper pt-3 pb-5">
				<a class="btn btn-primary" role="button" href="/events/">View All Events</a>
			</div>
		</div>
	</div>
	{% endif %}
</div>
