---
layout: default
background_color: kobi
---

<p class="display-2 coming-sans text-center">
	Events
</p>

{{ content }}

{% comment %}View as a Schedule
View as a List{% endcomment %}

{% include events/get-available-events.html %}
{% if events.size == 0 %}
	<p class="text-center">Watch this space for the event updates and for live announcements visit our social media channels.</p>
{% else %}

	<div class="mt-2 mb-4">
		{% include events/festival-pass.html %}
	</div>

	{% comment %}
		1. Get all the dates events are on
		2. Iterate over the dates 
		3. Find the events that are on that date
	{% endcomment %}

	{% assign all_dates = events | map: "event_date" | uniq %}
	{% for d in all_dates %}
		<h2 class="coming-sans" id="{{ d | date: "%Y-%m-%d" }}">{{ d | date_to_long_string }}</h2>
		{% assign d_events = events | where_exp: "event", "event.event_date == d" | sort: "start_time" %}
		<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
			{% include events/event-card.html events=d_events %}
		</div>
	{% endfor %}

	{% comment %}
	{% for the_date in event_dates %}
		<h2 id="{{ the_date.name | date: "%Y-%m-%d" }}">{{ the_date.name | date_to_long_string }}</h2>
		<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
			{% assign date_events = the_date.items | sort: "start_time" %}
			{% include events/event-card.html events=date_events %}
		</div>
	{% endfor %}
	{% endcomment %}

	{% comment %} -- Legacy from a multi-week festival -- 
	{% assign week_one_start = site.week_one_start_date | date: "%Y-%m-%d" %}
	{% assign week_two_start = site.week_two_start_date | date: "%Y-%m-%d" %}
	{% assign week_one_events = '' | split: '' %}
	{% assign week_two_events = '' | split: '' %}
	{% for event in events %}
		{% assign event_date = event.event_date | date: "%Y-%m-%d" %}
		{% if event_date < week_two_start %}
			{% assign week_one_events = week_one_events | push: event %}
		{% else %}
			{% assign week_two_events = week_two_events | push: event %}
		{% endif %}
	{% endfor %}
	{% if week_one_events.size > 0 %}
		{% assign week_one_events = week_one_events | group_by: "event_date" | sort: "name" %}
		<h1 id="week1">Week One</h1>
		<p><small><a class="btn btn-primary coming-sans fs-6 mb-2" role="button" href="{{ '/static/img/events/programme/week_1.png' | prepend: site.baseurl }}" style="font-size:1rem !important;">Download the Week One programme <i class="fa fa-download" aria-hidden="true"></i></a>&nbsp;{% include events/week-pass.html week=1 coming_sans="true" %}</small></p>
		{% for the_date in week_one_events %}
			<h2 id="{{ the_date.name | date: "%Y-%m-%d" }}">{{ the_date.name | date_to_long_string }}</h2>
			<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
				{% assign date_events = the_date.items | sort: "start_time" %}
				{% include events/event-card.html events=date_events %}
			</div>
		{% endfor %}
	{% endif %}
	{% if week_two_events.size > 0 %}
		{% assign week_two_events = week_two_events | group_by: "event_date" | sort: "name" %}
		<h1 id="week2">Week Two</h1>
		<p><small><a class="btn btn-primary coming-sans fs-6 mb-2" role="button" href="{{ '/static/img/events/programme/week_2.png' | prepend: site.baseurl }}" style="font-size:1rem !important;">Download the Week Two programme <i class="fa fa-download" aria-hidden="true"></i></a>&nbsp;{% include events/week-pass.html week=2 coming_sans="true" %}</small></p>
		{% for the_date in week_two_events %}
			<h2 id="{{ the_date.name | date: "%Y-%m-%d" }}">{{ the_date.name | date_to_long_string }}</h2>
			<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
				{% assign date_events = the_date.items | sort: "start_time" %}
				{% include events/event-card.html events=date_events %}
			</div>
		{% endfor %}
	{% endif %}
	{% endcomment %}


<hr>
{% comment %}

	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
		{% include events/event-card.html events=events %}
	</div>
{% endcomment %}
{% endif %}

{% if page.show_past_events %}
	{% include events/get-past-events.html %}
	{% if past_events.size > 0 %}
		<h2 id="sightlines-21-list" class="coming-sans" style="font-size:2rem !important;">Sightlines 2021</h2>
		<!-- <p>In the meantime, scroll through to see the sorts of events we hosted last year.</p> -->
		<div class="row">
			{% include events/event-card.html events=past_events event_id_prefix='past'%}
		</div>
	{% endif %}
{% endif %}
