---
layout: outer
carousel: "true"
background_color: yellow
---

<div class="container-fluid">
	<div class="row py-4 bg-sightlines-yellow">
		<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-center fs-3 fw-light">
			{{ content | markdownify }}
		</div>
	</div>
</div>
{% contentfor full_width_bottom %}
<div class="container-fluid px-0">
	<div class="row py-5 stripe-yellow-kobi"></div>
	{% assign num_events = site.events.size %}
	<div class="row pt-5 pb-1 bg-sightlines-kobi">
		<div class="col-12 text-center">
			<h2 class="text-center text-sightlines-white display-6">{% unless num_events == 0 %}Featured{% endunless %} Events</h2>
		</div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center bg-sightlines-kobi">
		{% unless num_events == 0 %}
			{% assign events = site.events | sort: "start_date" | slice: 0, 4 %}
			{% include events/event-card.html events=events %}
		{% else %}
			<p class="text-center mb-4">Our full events programme will be announced soon - stay tuned!</p>
		{% endunless %}
	</div>
	{% if num_events > 0 %}
		<div class="row bg-sightlines-kobi">
			<div class="block-button-wrapper pt-3 pb-5">
				<a class="btn btn-primary" role="button" href="{{ '/events/' | prepend: site.baseurl }}">View All Events</a>
			</div>
		</div>
	{% endif %}
	<div class="row py-5 stripe-kobi-yellow"></div>
	<div class="row py-4 bg-sightlines-yellow">
		<div class="col-12 text-center text-dark">
			<h2 class="display-6">Featured Articles</h2>
		</div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 bg-sightlines-lavendar">
		{% assign articles = site.articles | sort: date | reverse | slice: 0, 4 %}
		{% include articles/article-card.html articles=articles %}
	</div>
	<div class="row bg-sightlines-yellow pt-5">
		<div class="block-button-wrapper pb-5">
			<a class="btn btn-primary" role="button" href="{{ '/articles/' | prepend: site.baseurl }}">View all articles</a>
		</div>
	</div>
	<div class="row py-5 stripe-yellow-purple"></div>
	<div class="row pt-4 row-cols-1 row-cols-md-2 bg-sightlines-purple text-light">
		<div class="col-12 col-md-12 pb-2">
			<h2 class="text-center">Stay in Touch</h2>
		</div>
		<div class="col col-lg-5 mx-auto">
			<h3>Find us on Twitter - <a class="subtle-link" href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></h3>
			<div class="d-flex w-100 flex-column align-items-center">
				<a class="twitter-timeline" href="https://twitter.com/{{ site.twitter_username }}" data-tweet-limit="3" data-chrome="noheader nofooter noborders transparent" data-theme="dark" data-width="85%">Tweets by @{{ site.twitter_username }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col col-lg-5 mx-auto">
			<h3>Contact Us</h3>
			{% include contact-form.html %}
		</div>
	</div>
</div>
{% endcontentfor %}