---
layout: outer
carousel: "true"
background_color: white
---

<div class="container-fluid">
	<div class="row py-4 bg-sightlines-white">
		<div class="col-12 col-md-10 offset-md-1 col-xl-8 offset-xl-2 text-center fs-3 fw-light">
			{{ content | markdownify }}
		</div>
	</div>
</div>
{% contentfor full_width_bottom %}
{% include events/get-available-events.html %}
<div class="container-fluid px-0">
	<div class="squiggle-container">
		{% assign num_events = events.size %}
		{% assign today_date = site.test_date | default: 'now' | date: "%Y-%m-%d" %}
		{% assign festival_start_date = site.festival_start_date | date: "%Y-%m-%d" %}
		{% unless num_events == 0 %}
			<div class="background-squiggles"></div>
			{% if today_date >= festival_start_date %}
				{% assign now_next = events | sort: "event_date" | slice: 0, 4 %}
				{% assign other_events = events | sort: "event_date" | slice: 4, num_events | sample: 4 %}
			{% else %}
				{% assign other_events = events | sample: 4 %}
			{% endif %}
		{% endunless %}
		<div class="row py-5 stripe-white-kobi"></div>
		{% if now_next.size > 0 %}
			<div class="row pt-5 pb-1 bg-sightlines-kobi">
				<div class="col-12 text-center">
					<h2 class="text-center text-sightlines-white display-6">Now & Next</h2>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center bg-sightlines-kobi">
				{% include events/event-card.html events=now_next %}
			</div>
		{% endif %}
		{% if other_events.size > 0 %}
			<div class="row pt-5 pb-1 bg-sightlines-kobi">
				<div class="col-12 text-center">
					<h2 class="text-center text-sightlines-white display-6">{% if now_next.size > 0 %}Coming Soon{% else %}Featured Events{% endif %}</h2>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center bg-sightlines-kobi">
				{% include events/event-card.html events=other_events %}
			</div>
		{% endif %}
		{% if num_events > 0 %}
			<div class="row bg-sightlines-kobi">
				<div class="block-button-wrapper pt-3 pb-5">
					<a class="btn btn-primary" role="button" href="{{ '/events/' | prepend: site.baseurl }}">View All Events</a>
				</div>
			</div>
		{% endif %}
		{% if num_events == 0 %}
			<div class="row pt-5 bg-sightlines-kobi">
				<div class="col-12">
					{% assign festival_end_date = site.festival_end_date | date: "%Y-%m-%d" %}
					<p class="text-center mb-4 text-light lead">
						{% if today_date < festival_start_date %}
							Our full events programme will be announced soon - stay tuned!
						{% elsif today_date > festival_end_date %}
							Sightlines Festival has come to an end for this time, but take a read of our In Focus series and keep an eye on our social media for updates!
						{% else %}
							There aren't currently any events available, check back soon!
						{% endif %}
					</p>
				</div>
			</div>
		{% endif %}
		<div class="row py-5 stripe-kobi-white"></div>
	</div>
	<div class="row py-4 bg-sightlines-white">
		<div class="col-12 text-center text-dark">
			<h2 class="display-6">In Focus</h2>
		</div>
	</div>
	{% assign articles = site.articles | sort: "publish_date" | reverse | slice: 0, 4 %}
	<div class="row row-cols-1 row-cols-md-2 {% if articles.size > 2 %}row-cols-xl-4{% elsif articles.size > 1 %}px-4{% endif %} bg-sightlines-lavendar">
		{% include articles/article-card.html articles=articles %}
	</div>
	<div class="row bg-sightlines-white pt-5">
		<div class="block-button-wrapper pb-5">
			<a class="btn btn-primary" role="button" href="{{ '/in-focus/' | prepend: site.baseurl }}">View all articles</a>
		</div>
	</div>
	<div class="row py-5 stripe-white-purple"></div>
	<div class="row pt-4 row-cols-1 row-cols-md-2 bg-sightlines-purple text-light">
		<div class="col-12 col-md-12 pb-2">
			<h2 class="text-center">Stay in Touch</h2>
		</div>
		<div class="col col-lg-5 mx-auto">
			<h3>Find us on Twitter - <a class="subtle-link" href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></h3>
			<div class="card card-body rounded-lg bg-sightlines-white w-75 mx-auto mt-4">
				<a class="twitter-timeline" href="https://twitter.com/{{ site.twitter_username }}" data-tweet-limit="3" data-chrome="noheader nofooter noborders transparent" data-theme="light" data-width="85%">Tweets by @{{ site.twitter_username }}</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col col-lg-5 mx-auto">
			<h3>Contact Us</h3>
			{% include contact-form.html %}
		</div>
	</div>
</div>
{% endcontentfor %}