<!doctype html>
<html lang="en" class="h-100">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?cachebust={{ site.time | date: "%Y%m%d%H%M"}}">
		<!-- FontAwesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


		<title>{{ page.title | append: " | " | append: site.title | default: site.title }}</title>

		<link rel="icon" type="image/png" href="{{ '/static/img/logo/favicon.png' | prepend: site.baseurl }}">

		 <!-- Recaptcha -->
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>	
	</head>
	{% assign background_color = page.background_color | default: layout.background_color | default: 'white' | prepend: 'bg-sightlines-' %}
	<body class="d-flex flex-column h-100 {{ background_color }}">
		<div class="container-fluid sightlines-header bg-sightlines-white {% unless page.layout == 'home' %}shadow{% endunless %}">
			<div class="row header-image">
				<a href="{{ '/' | prepend: site.baseurl }}" class="header-fw-wrapper p-0">
					<div class="header-fw col-12 g-0" style="z-index:10;">
						<div class="header-img-largest">
							<img class="" src="/static/graphics/breakpoints/full_set-no-nav.png">
						</div>
						<div class="header-img-large">
							<img class="" src="/static/graphics/breakpoints/lg-no-nav.png">
						</div>
						<div class="header-img-md">
							<img class="img-fluid" src="/static/graphics/breakpoints/md.png">
						</div>
						<div class="header-img-sm">
							<div class="col-12">
								<img class="img-fluid" src="/static/graphics/breakpoints/0-left.png">
							</div>
							<div class="col-12">
								<img class="img-fluid" src="/static/graphics/breakpoints/0-right.png">
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="row header-navigation">
				<nav class="navbar navbar-expand-md navbar-light">
					<div class="container-fluid">
						<button type="button" data-bs-toggle="collapse" data-bs-target="#sightlinesnavbar" aria-controls="sightlinesnavbar" aria-expanded="false" aria-label="Toggle navigation" class="coming-sans btn navbar-toggler btn-primary bg-sightlines-yellow">
							Navigation
						</button>
						<div class="collapse navbar-collapse" id="sightlinesnavbar">
							{% assign nav_pages = site.content | where_exp: "item","item.nav_order != empty and item.nav_order" | sort: "nav_order" %}
							{% if nav_pages %}
								<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
									{% for nav_page in nav_pages %}
										{% if nav_page.children and nav_page.children != empty %}
											<li class="btn-group nav-item coming-sans">
												<a type="button" class="nav-link" href="{{ nav_page.url }}">
													{{ nav_page.title }}
												</a>
												<button type="button" class="btn dropdown-toggle dropdown-toggle-split rounded-0" data-bs-toggle="dropdown" aria-expanded="false">
													<span class="visually-hidden">Toggle Dropdown</span>
												</button>
												<ul class="dropdown-menu rounded-0">
													{% for child_page in nav_page.children %}
														<li><a class="dropdown-item nav-link" href="{{ child_page.link }}">{{ child_page.title }}</a></li>
													{% endfor %}
												</ul>
											</li>
										{% else %}
											<li class="nav-item coming-sans">
												<a class="nav-link {% if nav_page.url == page.url %}active{% endif %}"  href="{{ nav_page.url }}">{{ nav_page.nav_title | default: nav_page.title }}</a>
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="container-fluid">
			{{ content }}
		</div>
		<!-- 	
		<div class="nc--content">
			</div> -->
				<!--
				<div class="nc--nav bg-sightlines-yellow nav-section bg-transparent h-100">
					<div class="row">
						{% for item in nav_pages %}
							<div class="d-flex flex-row">
								<div class="nav-mid">
									{% assign float = forloop.index | divided_by: 2.0 %}
									{% assign int = forloop.index | divided_by: 2 | times: 1.0 %}
									<img src="/static/graphics/nav/mid{% if int == float %}-flip{% endif %}.png" class="{% if int!=float%}flip{% endif %}">
								</div>
								<div class="nav-mid-text">
									<a class="text-dark {% if item.url == page.url %}active{% endif %}" href="{{ item.url | prepend: site.baseurl }}">{{ item.nav_title | default: item.title }}</a>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="px-0 nav-bottom">
							{% assign page_nums = nav_pages.size %}
							{% assign page_nums_float = page_nums | divided_by: 2.0 %}
							{% assign page_nums_int = page_nums | divided_by: 2 | times: 1.0 %}
							<img src="/static/graphics/nav/bottom-curl.png" class="{% if page_nums_float != page_nums_int %}bump{% endif %}">
						</div>
					</div>
				</div>
			</div>-->

		{% ifhascontent full_width_bottom %}
			<div class="container-fluid">
				{% contentblock full_width_bottom %}
			</div>
		{% endifhascontent %}


		<!-- Footer -->
		<div class="container-fluid text-light footer mt-auto">
			{% ifnothascontent full_width_bottom %}
			<div class="row py-5 stripe-transparent-purple"></div>
			{% endifnothascontent %}
			<div class="row py-4 bg-sightlines-purple">
				<div class="squiggle-container">
					<div class="background-squiggles" style="left: 78%;bottom: 5rem;opacity: 0.2;transform: rotate(-40deg);top: auto;"></div>

					<div class="col text-center">
						<p class="small fw-light">
							<strong class="coming-sans fs-5">Sightlines Festival</strong><br>
							{% include partner-list-footer.html %}<br>
							<a href="https://web.samosborne.me/" class="text-decoration-none">Website by Sam Osborne</a>
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

		<script>
			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl)
			})
		</script>

		{% if page.carousel or layout.carousel %}
			<!-- TODO Carousel javascript -->
		{% endif %}

	</body>
</html>

